.header{
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    height: 80px;
}
.header a{
    color: white;
    text-decoration: none;
    margin-left: 15px;
}
.header a:hover{
    color: orange;
}